/*
サイト登録
*/
.inputbox {
  padding: 16px 20px;
  border-radius: 5px;
  border: 1px solid #bbb;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.inputbox__inner.flex-container {
  display: flex;
  gap: 16px;
}
/*
サイト一覧
*/
.sites-container {
  display: grid;
  border: 1px solid #bbb;
  grid-gap: 20px;
  padding: 16px 20px;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border-radius: 5px;
}
.alert-success {
  background-color: #a1dd11;
}
.text-white {
  color: #fff;
}
.site {
  border: 1px solid #bbb;
  padding: 4px 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.site__url {
  word-wrap: break-word;
}
.site__img img {
  /* aspect-ratio: 125 / 87;
  object-fit: cover; */
  width: 100%;
}
.site__colors {
  margin-top: auto;
}
.site .site__item:not(:last-child) {
  border-bottom: 1px solid #bbb;
}

/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #bbb;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
}
.loaded {
  opacity: 0;
  visibility: hidden;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}