/** common */
h1, h2, h3, h4, h5, h6, ul, ol, dl {
  margin: 0;
  padding: 0;
}
/**
メインレイアウト
*/
.main-grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}
/* 幅が 1000px 以下の時は1カラムにする */
@media screen and (max-width: 1000px){
  .main-grid {
    grid-template-columns: 1fr;
  }
}

/* サイドバー */
.sidebar.inputbox {
  margin-bottom: 0;
}
.tags {
  border: 1px solid #bbb;
  padding: 16px 16px;
  border-radius: 5px;
  margin-bottom: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.site.new {
  margin-bottom: 16px;
}
/*
サイト登録
*/
.inputbox {
  padding: 16px 20px;
  border-radius: 5px;
  border: 1px solid #bbb;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.inputbox__inner.flex-container {
  display: flex;
  gap: 16px;
}
/*
サイト一覧
*/
.site__img {
  position: relative;
}
.like-icon {
  color: #000;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
.like-number {
  color: #333;
  font-weight: bold;
  width: 30px;
  height: 16px;
  position: absolute;
  text-align: right;
  top: -10px;
  right: 0;
  border-radius: 100%;
  /* border: 1px solid #bbb; */
  z-index: 1000;
  user-select: none;
}
.sites-container {
  display: grid;
  border: 1px solid #bbb;
  grid-gap: 20px;
  padding: 16px 20px;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.alert-success {
  background-color: #a1dd11;
  padding: 8px 16px;
}
.text-white {
  color: #fff;
}
.site {
  border: 1px solid #bbb;
  padding: 4px 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.site__url {
  word-wrap: break-word;
}
.site__img img {
  /* aspect-ratio: 125 / 87;
  object-fit: cover; */
  width: 100%;
  user-select: none;
}
.site__colors {
  margin-top: auto;
}
.site .site__item:not(:last-child) {
  border-bottom: 1px solid #bbb;
}

/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #bbb;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
}
.loaded {
  opacity: 0;
  visibility: hidden;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
/** タグクラウド */
.tagcloud {
  padding: 16px 20px;
  border-radius: 5px;
  border: 1px solid #bbb;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}
.tagcloud__item {
  display: inline-block;
}
.tagcloud__item1 {
  font-size: 0.5rem;
}
.tagcloud__item2 {
  font-size: 0.75rem;
}
.tagcloud__item3 {
  font-size: 1rem;
}
.tagcloud__item4 {
  font-size: 1.3rem;
}
.tagcloud__item5 {
  font-size: 1.6rem;
}
.tagcloud__item6 {
  font-size: 2.0rem;
}
.tagcloud__item7 {
  font-size: 2.4rem;
}
.tagcloud__item8 {
  font-size: 2.8rem;
}
.tagcloud__item9 {
  font-size: 3.2rem;
}
.tagcloud__item10 {
  font-size: 4.0rem;
}